<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <a href="/users" class="">Workouts</a>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">Log Out</a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
    <h1><%= workout.name %></h1>
    <h2>
      <% dateObj = new Date(workout.date) %> <%if (!isNaN(dateObj)) {%> <%=
      dateObj.getUTCFullYear() %>/<%= dateObj.getUTCMonth() + 1%>/<%=
      dateObj.getUTCDate()%> <% }%>
    </h2>
    <div>
      <button type="submit" class="create-workout-btn">
        <a href="/workout/<%= workout._id %>/exercise/new"> Add An Exercise</a>
      </button>
    </div>
  </body>
</html>
