<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <a href="/users" class="">WORKOUTS</a>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
    <main class="workout-show-page-main">
      <div class="workout-show-container">
        <div class="workout-show-headers">
          <h1 class="h1-show"><%= workout.name %></h1>
          <h2 class="date-header">
            <% dateObj = new Date(workout.date) %> <%if (!isNaN(dateObj)) {%>
            <%= dateObj.getUTCFullYear() %>/<%= dateObj.getUTCMonth() + 1%>/<%=
            dateObj.getUTCDate()%> <% }%>
          </h2>
        </div>
        <div class="exercises-container">
          <% if (exercises.length) { %>
          <table>
            <thead>
              <tr>
                <th>EXERCISE</th>
                <th>SETS</th>
                <th>REPS</th>
                <th>WEIGHTS USED</th>
                <th>ADDITIONAL NOTES</th>
              </tr>
            </thead>
            <tbody>
              <% exercises.forEach(function(e){ %>
              <tr>
                <td><%= e.name %></td>
                <td><%= e.sets %></td>
                <td><%= e.reps %></td>
                <td><%= e.weights %></td>
                <td><%= e.notes %></td>
                <td>
                  <form
                    action="/exercise/<%= e._id%>/<%= workout._id %>"
                    method="POST"
                  >
                    <button class="delete-btn" type="submit">DELETE</button>
                  </form>
                </td>
                <td>
                  <form
                    action="/exercise/edit/<%= e._id%>/<%= workout._id %>"
                    method="POST"
                  >
                    <button class="delete-btn" type="submit">EDIT</button>
                  </form>
                </td>
              </tr>
              <tr class="spacer">
                <td></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% } else { %>
          <h5>No Exercises Yet</h5>
          <% } %>
        </div>
        <button type="submit" class="new-exercise-btn">
          <a href="/workout/<%= workout._id %>/exercise/new"> NEW EXERCISE</a>
        </button>
      </div>
    </main>
  </body>
</html>
