<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <a href="/users" class="">WORKOUTS</a>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
    <h1><%= workout.name %></h1>
    <h2>
      <% dateObj = new Date(workout.date) %> <%if (!isNaN(dateObj)) {%> <%=
      dateObj.getUTCFullYear() %>/<%= dateObj.getUTCMonth() + 1%>/<%=
      dateObj.getUTCDate()%> <% }%>
    </h2>
    <div>
      <% if (exercises.length) { %>
      <table>
        <thead>
          <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weights Used</th>
            <th>Additional Notes</th>
          </tr>
        </thead>
        <tbody>
          <% exercises.forEach(function(e){ %>
          <tr>
            <td><%= e.name %></td>
            <td><%= e.sets %></td>
            <td><%= e.reps %></td>
            <td><%= e.weights %></td>
            <td><%= e.notes %></td>
            <td>
              <form
                action="/exercise/<%= e._id%>/<%= workout._id %>"
                method="POST"
              >
                <button type="submit">Delete</button>
              </form>
            </td>
            <td>
              <form
                action="/exercise/edit/<%= e._id%>/<%= workout._id %>"
                method="POST"
              >
                <button type="submit">Edit Exercise</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h5>No Exercises Yet</h5>
      <% } %>
    </div>
    <div>
      <button type="submit" class="create-workout-btn">
        <a href="/workout/<%= workout._id %>/exercise/new"> Add An Exercise</a>
      </button>
    </div>
  </body>
</html>
