<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <a href="" class="workout-nav">WORKOUTS</a>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } %>
          </li>
        </ul>
      </nav>
    </div>
    <main class="user-homepage">
      <div class="workouts-container">
        <h2 class="header">WORKOUTS</h2>
        <div class="workouts-center-div">
          <% if (workouts) { %>
          <table>
            <tbody>
              <% workouts.forEach(function(workout) { %>
              <tr>
                <td class="left-corner-brdr">
                  <a class="workout-anchor" href="/workout/<%= workout._id %>"
                    ><%= workout.name %></a
                  >
                </td>
                <% dateObj = new Date(workout.date) %>
                <td>
                  <%if (!isNaN(dateObj)) {%> <%= dateObj.getUTCFullYear() %>/<%=
                  dateObj.getUTCMonth() + 1%>/<%= dateObj.getUTCDate()%> <% }%>
                </td>
                <td class="right-corner-brdr">
                  <form
                    action="/users/workout/<%= workout._id %>"
                    method="POST"
                  >
                    <button class="delete-btn" type="submit">DELETE</button>
                  </form>
                </td>
              </tr>
              <tr class="spacer">
                <td></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% } else { %>
          <h5>No Workouts Yet</h5>
          <% } %>
        </div>
      </div>
      <div class="new-workout-container">
        <div class="create-workout-center-div">
          <h2 class="workout-header">NEW WORKOUT</h2>
          <form class="form" method="POST" action="/users/workout">
            <label
              >NAME
              <input type="text" name="name" required />
            </label>
            <label
              >DATE <input class="date" type="date" name="date" required
            /></label>
            <button type="submit" class="create-workout-btn">SUBMIT</button>
          </form>
        </div>
      </div>
    </main>
    <!-- <footer></footer> -->
  </body>
</html>
