<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <h1 class="logo">YOUMOVE</h1>
        <a href="/users" class="">WORKOUTS</a>
        <ul class="right"></ul>
      </nav>
    </div>
    <div class="new-exercise-container">
      <div class="">
        <h2>Edit <%= exercise.name %></h2>
        <form
          class="form"
          action="/exercise/workout/<%=eid%>/<%= id %>/exercise"
          method="POST"
        >
          <label
            >Exercise:
            <input
              type="text"
              value="<%= exercise.name %>"
              name="name"
              required
            />
          </label>
          <label
            >Sets:
            <input
              type="number"
              name="sets"
              value="<%= exercise.sets %>"
              required
          /></label>
          <label
            >Reps:
            <input
              type="number"
              name="reps"
              value="<%= exercise.reps %>"
              required
          /></label>
          <label
            >Weights Used (lb):
            <input type="number" name="weights" value="<%= exercise.weights %>"
          /></label>
          <label
            >Additional Notes:
            <input type="text" name="notes" value="<%= exercise.notes %>"
          /></label>

          <button type="submit" class="create-workout-btn">
            Update Exercise
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
